.Month{
  /*position: relative;*/
}
.year, .month, .day, .weekday, .hour, .minute, .sec{
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%,-50%);
}
#root{
  height: 100vh;
  background: #EEDDBE;
  text-align: right;
  color: #0D274D;
}